.header-div{
    background:rgb(142, 180, 196);
    color:white;
    height: 120px;
    display: flex;

}
.main-div{
    /*display:flex;*/
    background:rgb(94, 132, 148);
    height: 900px;
    background-image: url("images/bg.jpg");

}

.login-div{
    background:white;
    height: 415px;
    width: 500px;
    margin-left: 400px;
    border-radius: 10px;
    text-align:right;
    float: left;
    align-self: auto;
    position: relative;
    margin-top: 120px;

}

.login-div h3{
    text-align:center;
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.login-div P{
    text-align: left;
    margin-left: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.seallogo{
    width: 130px;
    height: 60px;
  position:left;
  text-align: right;
  align-content: flex-end;
  align-items: flex-end;
  margin-right:10px;
}
.space{
    height: 1px;
}
.btns{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color:skyblue;
}
.txt-class{
 color:rgb(1, 1, 36);
}
.flags{
    width: 50px;
    border-radius: 60px;
    margin-top: 40px;
}
.nav a{
    font-weight: bold;
    padding: 9px 0 0 0;
    text-decoration: none;
    color: white;
  
}
.nav a:hover
{
    color:pink;
}
.signup-div{
     background: white;
    height: 250px;
    width: 500px;
    margin-left: 400px;
    border-radius: 10px;
    text-align:right;
    float: left;
    align-self: auto;
    position: relative;;
    
}
.signup-div h3{
    text-align:center;
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-div p{
    text-align: right;
    color:white;
    
}
.footer-div{
    display: flex;
}
.div1{
    flex:1;
}
.div2{
    flex:2;
}
.div3{
    flex:1;
    color: white;
}
.checked{
    text-decoration: line-through;
}
#listings{
    background: white;
    border-radius: 20px;
    height: 250px;
    width: 400px;
    margin-left: 20px;
    margin-top: 120px;
}
#mylist{
   
    border-radius: 20px;
    height: 250px;
    width: 400px;
    margin-left: 20px;
    font-weight: Bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#mylist{
    border-radius: 20px;
    height: 250px;
    width: 400px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: 0.2s;
}
#mylist li:nth-child(odd) {
    background: #042341;
    color:white;
}
.additem{
    padding: 10px;
    color:white;
    background: rgb(14, 0, 29);
    border-radius: 5px;
}
.additem:hover {
    background-color: #bbb;
}
.createlist{
    width: 280px;
    height: 50px;
    background: rgb(142, 180, 196);
    color: rgb(75, 21, 2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}
#mylist li.checked::before{
   /* content:'';
    border-style: solid;
    transform: rotate(45deg);*/
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;

}
#mylist li:hover {
    background:rgb(192, 144, 236);
}

.inputtypes{
width: 300px; 
height:40px;
border-color: darkblue;
border-radius: 5px;

}
.makelist{
    margin-left:400px;
    margin-right:100px;
    background:rgb(209, 225, 255);
    height: 400px;
    width: 500px;
    border-radius: 10px;
    position: relative;

}
.makelist h1{
    text-align: center;
}
